{{ define "main" }}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p>{{ . }}</p>{{ end }}
  </header>

  {{ with site.Data.projects }}
    <section class="projects-list">
      {{ range . }}
        <article class="project-entry">
          <h2><a href="{{ .url }}">{{ .title }}</a></h2>
          {{ with .date }}
            <div class="post-meta"><time datetime="{{ . }}">{{ dateFormat "January 2, 2006" . }}</time></div>
          {{ end }}
          {{ with .description }}<p>{{ . }}</p>{{ end }}
        </article>
      {{ end }}
    </section>
  {{ end }}
{{ end }}
